html { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand{
      padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
}
.custom_container{
  padding-top: 10px;
}

.navbar_items{
      font-weight: 600;
    font-size: 16px;
}

.action_buttons{
    width: 60px;
    font-size: 10px;
    padding: 5px;
    margin: 5px;
}

.navbar-default {
    background-color: #f8f8f800;
    border-color: #e7e7e700;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #d0d0d0;
    background-color: #e7e7e700;
}
.navbar-default .navbar-nav>li>a {
    color: #e2f388;
}

.search_btn{
  background-color: #214d74;
  border-radius: 0px;
  border-color: #214d74;
}

/*.table-bordered {
    border: 1px solid #94949487;
}*/

table.table-bordered{
    border: 1px solid #94949487;
    margin-top: 20px;
    background-color: #8c8b8b00;
    color: #047abf;
  }
table.table-bordered > thead > tr > th{
    border:1px solid #94949487;
        /*color: #fff;*/
    font-weight: 600;
    font-size: 17px;
}
table.table-bordered > tbody > tr > td{
    border:1px solid #94949487;
}


th{
  width: 10%;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff0;
    background-image: none;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

body{
      padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Muli', sans-serif;
        background-color: #fff0;
}

.expense_headings{
      border: 5px solid #77c043;
    padding: 10px;
    border-radius: 50px;
    font-weight: 600;
}


textarea {
    resize: none;
}

/*spinner*/
.spinner {
  width: 40px;
  height: 40px;
  background-color: #00dcff;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}